.header {
    padding: 10px 20px;
}

.header-container {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 20px;
    height: 50px;
}

.logo img {
    height: 100%;
}

.nav-section {
    display: flex;
    flex-direction: column;
}

.nav-top, .nav-bottom {
    display: flex;
}

.nav-top ul, .nav-bottom ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-top ul li, .nav-bottom ul li {
    margin-right: 15px;
}

.nav-top ul li:last-child, .nav-bottom ul li:last-child {
    margin-right: 0;
}