//Breakpoints
$breakpoint-xs: 320px; // iPhone SE, iPhone 5/5S/5C
$breakpoint-sm: 480px; // Petites tablettes et grands téléphones en mode paysage
$breakpoint-md: 768px; // iPad, iPad Mini (mode portrait), Nexus 9, Samsung Galaxy Tab (mode portrait)
$breakpoint-lg: 1024px; // iPad, iPad Mini (mode paysage), Nexus 9 (mode paysage), Samsung Galaxy Tab (mode paysage)
$breakpoint-xl: 1280px; // Petits ordinateurs de bureau, ordinateurs portables
$breakpoint-2xl: 1440px; // Grands ordinateurs de bureau
$breakpoint-3xl: 1920px; // Écrans Full HD, grands ordinateurs de bureau