.home-container {
    width: 100%;
    min-height: 100vh;
}

.home-content {
    padding: 2rem;
}

.gif-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.rabbit-gif {
    width: 550px;
    height: auto;
    image-rendering: pixelated;
}